<section class="">
  <div class="ce-flex ce-flex-between ce-margin-small-top">
    <div style="margin-left: -10px">
      <h3 class="ce-flex ce-flex-middle">
        <span class="ce-margin-small-left">
          Extraction Job
          <span ce-tooltip="title:Define and execute extraction job;delay: 200">
            <img src="/assets/ico/info.svg" alt="info" height="15" ce-svg>
          </span>
        </span>
      </h3>
    </div>
    <div>
      <button class="ce-button ce-button-header ce-margin-small-left" role="button" (click)="addNew()">
        <span>
          New Extraction Job
        </span>
        <img src="/assets/ico/add.svg" alt="add" ce-svg>
      </button>
    </div>
  </div>
  <div class="ce-margin-small-top">
    <table class="ce-table ce-table-divider ce-table-middle ce-margin-remove-vertical">
      <thead class="">
        <tr class="ce-flex">
          <th class="ce-flex ce-flex-middle ce-width-3-4">
            <span *ngIf="!showFilter" class="">Job Name</span>
            <span *ngIf="showFilter" class="ce-animation-slide-left-small ce-flex ce-flex-middle ce-filter">
              <input class="ce-input" type="text" placeholder="Name" (blur)="toggleFilter()" [(ngModel)]="filter" aria-label="Name" #filterInput>
              <span class="ce-color-dark" (click)="toggleFilter()">
                <img src="/assets/ico/close.svg" alt="search Profiles" height="25" width="25" ce-svg>
              </span>
            </span>
            <div *ngIf="!showFilter" class="ce-margin-left" (click)="toggleFilter()">
              <img src="/assets/ico/search.svg" alt="search Profiles" height="25" width="25" ce-svg>
            </div>
          </th>
          <th style="min-width: 150px">Extraction Progress</th>
          <th class="ce-width-1-4">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div>
    <ul class="ce-entities ce-margin-remove-top" ce-accordion="toggle:* > .ce-more">
      <li *ngFor="let extractionProfile of (extractionProfiles | match: filter : 'extractProfileName')" class="ce-background-white ce-border-rounded ce-padding-small">
        <a class="ce-accordion-title ce-flex ce-flex-start">
          <span [routerLink]="['/inspect/land/' + extractionProfile.id]" class="ce-width-2-4 ce-margin-small-top ce-link">{{extractionProfile.extractProfileName}}</span>
          <span class="ce-flex ce-margin-small-top" style="min-width: 150px">
            <div *ngIf="extractionProfile.extractSts !== 0" ce-tooltip="title:click to refresh;delay:500">
              <circle-progress class="ce-margin-auto" [percent]="extractionProfile.extractSts"></circle-progress>
            </div>
            <div *ngIf="extractionProfile.extractSts === 0">
              Not Started Yet
            </div>
          </span>
          <span class="ce-width-1-4 ce-margin-small-top">
            <div class="ce-flex">
              <button class="ce-button-default ce-icon-button ce-more ce-margin-left" ce-tooltip="title: more;delay: 1000" name="more {{extractionProfile.extractProfileName}}">
                <img src="/assets/ico/more.svg" alt="more {{extractionProfile.extractProfileName}}" ce-svg>
              </button>
              <button class="ce-button-default ce-icon-button ce-margin-small-left" [disabled]="extractionProfile.extractSts !== 0" ce-tooltip="title: Run Extraction Job;delay: 1000"
                name="scan {{extractionProfile.extractProfileName}}" (click)="scanProfile(extractionProfile)">
                <img src="/assets/ico/scan.svg" alt="Add Entities for {{extractionProfile.extractProfileName}}" ce-svg>
              </button>
              <button class="ce-button-default ce-icon-button ce-margin-small-left" ce-tooltip="title: edit;delay: 1000" name="edit {{extractionProfile.extractProfileName}}"
                (click)="editProfile(extractionProfile)">
                <img src="/assets/ico/edit.svg" alt="edit {{extractionProfile.extractProfileName}}" ce-svg>
              </button>
              <button class="ce-button-default ce-icon-button ce-danger ce-margin-small-left" ce-tooltip="title: delete;delay: 1000" name="edit {{extractionProfile.extractProfileName}}"
                (click)="deleteProfile(extractionProfile)">
                <img src="/assets/ico/delete.svg" alt="delete {{extractionProfile.extractProfileName}}" ce-svg>
              </button>
            </div>
          </span>
        </a>
        <div class="ce-accordion-content ce-margin-small-top">
          <hr>
          <div class="ce-flex ce-child-width-1-2">
            <div>
              <div>
                <small>Description</small>
                <p class="ce-margin-remove-vertical">{{extractionProfile.extractProfileDesc}}</p>
              </div>
              <div class="ce-margin-small-top">
                <small>Location</small>
                <p>{{extractionProfile.location}}</p>
              </div>
            </div>
            <div>
              <div>
                <small>Configuration Category</small>
                <p class="ce-margin-remove-vertical">{{extractionProfile.trainingProfileId}}</p>
              </div>
              <div class="ce-margin-small-top">
                <small>Created On</small>
                <p class="ce-margin-remove-vertical">{{extractionProfile.extractCrtdTmstmp | date}}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<div id="add-profile" class="ce-flex-top" ce-modal>
  <div class="ce-modal-dialog ce-modal-body ce-margin-auto-vertical">
    <button class="ce-modal-close-default" type="button" ce-close></button>
    <div>
      <h3 class="ce-title">{{addNewTitle}}</h3>
      <div class="ce-margin-top">
        <form [formGroup]="profileForm">
          <div class="ce-margin-small">
            <label class="ce-label" for="ce-profile-name"> Extraction Job Name</label>
            <input id="ce-profile-name" class="ce-input" type="text" placeholder="" formControlName="name">
          </div>

          <div class="ce-margin-small">
            <label class="ce-label" for="ce-profile-description">Extraction Job Description</label>
            <input id="ce-profile-description" class="ce-input" type="text" placeholder="" formControlName="description">
          </div>

          <div class="ce-margin-small">
            <label class="ce-label" for="ce-profile-location">Extraction Job Location</label>
            <input id="ce-profile-location" class="ce-input" type="text" placeholder="//path/to/location" formControlName="location">
          </div>

          <div class="ce-margin-small">
            <label class="ce-label" for="ce-profile-training-profile">Configuration Category</label>
            <select id="ce-profile-training-profile" class="ce-select" formControlName="trainingProfile">
              <option value="Operating Lease">Operating Lease</option>
              <option value="Invoices">Invoices</option>
            </select>
          </div>

          <button class="ce-button ce-margin-top" role="button">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
