@import "../../../var";
.ce-tag {
    padding: 10px 5px 10px 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36) !important;
    transition: all 0.2s ease-in-out;
    &:focus,
    &:hover,
    &-edit {
        box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.56) !important;
    }
    &-overridden {
        background-color: rgb(227, 255, 219);
    }
}

.ce-tag-border-small { 
    border-radius: 2.5px;
}

.ce-tag-border {
    border-radius: 2.5px;
}



.ce-input {
    width: auto;
    background-color: lighten($color: lightgrey, $amount: 10) !important;
    color: $font-dark !important;
    box-shadow: none !important;
    &:focus {
        background-color: lightgrey !important;
    }
    &:disabled {
        background: transparent !important;
    }
}

.ce-danger {
    padding: 0 !important;
    width: 20px !important;
    height: 20px !important;
    border: 0 !important;
    background: none !important;
    margin-top: -30px !important;
    margin-right: -5px !important;
    & > svg {
        width: 15px !important;
        height: 15px !important;
    }
}